<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" th:href="@{/css/curso.css}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Cursos</title>
  </head>
  <body>
    <h1>Cadastrar Curso</h1>
    <form th:action="@{/cursos/salvar}" method="POST" th:object="${curso}">
      <input type="hidden" name="id" th:field="*{id}" readonly />
      <br />

      <label for="nomeCurso">Nome do Curso:</label>
      <input type="text" name="nomeCurso" th:field="*{nomeCurso}" />
      <br />

      <label for="cargaHoraria">Carga Horária:</label>
      <input type="text" name="cargaHoraria" th:field="*{cargaHoraria}" />
      <br />

      <label for="periodo">Período:</label>
      <input type="text" name="periodo" th:field="*{periodo}"/>
      <br />

      <input type="submit" value="Cadastrar" />
    </form>
  </body>
</html>
