<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Cursos</title>
    <link rel="stylesheet" href="/css/curso.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <h1>Lista de Cursos</h1>

    <div style="text-align: center; margin-bottom: 20px;">
        <a href="/cursos/criar" class="btn-cadastrar">Cadastrar</a>
    </div>

    <table>
        <tr>
            <td colspan="5" align="center">Lista de cursos</td>
        </tr>
        <tr>
            <th>ID</th>
            <th>Nome do Curso</th>
            <th>Carga Horária</th>
            <th>Período</th>
            <th>Ações</th>
        </tr>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.id}">*</td>
            <td th:text="${curso.nomeCurso}">*</td>
            <td th:text="${curso.cargaHoraria}">*</td>
            <td th:text="${curso.periodo}">*</td>
            <td>
                <div class="action-buttons">
                    <a th:href="@{/cursos/editar/{id}(id=${curso.id})}" class="icon-button edit">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a th:href="@{/cursos/excluir/{id}(id=${curso.id})}" class="icon-button delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
