<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema FatecADS</title>
</head>
<body style="background-color:darkblue">
    <h1 style="text-align:center">FatecADS</h1>
    <h2 style="text-align: center;">Sistema Acadêmico</h2>

    <p style="text-align: center;">
        <img src="../static/images/logo.png" alt="">
    </p>


    <div style="text-align: center;">
        <form action="/login" method="get" style="display: inline;">
            <button type="submit" style="background-color: green; color:white; padding: 10px 20px; border: none;
            border-radius: 5px;">Login</button>
        </form>

        <form action="/usuarios/criar" method="get" style="display: inline;">
            <button type="submit" style="background-color: green; color:white; padding: 10px 20px; border: none;
            border-radius: 5px;">Cadastrar-se</button>
        </form>
    </div>

</body>
</html>