<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="/css/aluno.css" />
  </head>
  <body>
    <h1>👨‍🎓 Cadastrar Alunos</h1>
    <form th:action="@{/alunos/salvar}" method="POST" th:object="${aluno}">
      <input type="hidden" name="idAluno" th:field="*{idAluno}" readonly />

      <label for="nomeAluno">Nome:</label>
      <input type="text" name="nomeAluno" th:field="*{nomeAluno}" />

      <label for="endAluno">Endereço:</label>
      <input type="text" name="endAluno" th:field="*{endAluno}" />

      <label for="telAluno">Telefone:</label>
      <input type="text" name="telAluno" th:field="*{telAluno}" />

      <label for="raAluno">RA:</label>
      <input type="text" name="raAluno" th:field="*{raAluno}" />

      <label for="idCurso">
        <select th:field = "*{curso}">
            <option value="" disabled selected>Selecione o curso</option>
            <option th:each = "curso : ${cursos}" th:text="${curso.nomeCurso}" th:value="${curso.id}"></option> 
        </select>
      </label>

      <input type="submit" value="Cadastrar" />
    </form>
  </body>
</html>
